*.class
.gradle
build/

# Jekyll stuff
Gemfile.lock
_site/

# Ignore Gradle GUI config
gradle-app.setting

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IntelliJ Files
*.iml
.idea/
*.ipr
*.iws
/out/
