<header>
    <div class="container">
        <h1>Jenjin-io</h1>
        <h2>IO Utilities for Client/Server Connections</h2>

        <section id="downloads">
            <a href="https://github.com/floralvikings/jenjin-io/zipball/master" class="btn">Download as .zip</a>
            <a href="https://github.com/floralvikings/jenjin-io/tarball/master" class="btn">Download as .tar.gz</a>
            <a href="https://github.com/floralvikings/jenjin-io" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
    </div>
</header>